/* Fuente principal del proyecto */

@font-face {
    font-family: "BBH Sans Bartle";
    src: url('../fonts/BBHSansBartle-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}